<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>TODOLIST</title>
</head>

<body>
    <section class="vh-100" style="background-color: #e2d5de;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">

                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">

                            <h6 class="mb-3"> Todo List</h6>

                            <form class="d-flex justify-content-center align-items-center mb-4" action="http://localhost:3000/api/v1/todos" method="post" enctype="multipart/form-data">
                                <div class="form-outline flex-fill">
                                    <input type="text" name="title" id="form3" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3">What do you need to do today?</label>
                                </div>
                                <button type="submit" class="btn btn-outline-primary" style="margin-top: -35px; margin-left: 10px;">ADD TASK</button>
                            </form>
                            <ul class="list-group mb-0">
                                {{todoContent}}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script>
        function deleteTodo(event,todoId) {
         
          fetch('http://localhost:3000/api/v1/todos/' + todoId, {
            method: 'DELETE'
          })
            .then(response => {
              response.json()
              if (response.status == 200) {
                event.target.parentElement.remove();
              }
            })
            .then(response => {
              console.log("response", response)
            })
        }

        function changeTodo(event,todoId){
            fetch('http://localhost:3000/api/v1/todos/' + todoId, {
            method: 'PATCH',
            body: JSON.stringify({
                completed: event.target.checked
            }),
            headers: new Headers({
                'Content-Type': 'application/json; charset=UTF-8'
            })
            })
          .then(response => {
              response.json()
              console.log("da vao")
              if (response.status == 200) {
                if(event.target.checked) {
                    event.target.parentElement.style.textDecoration = "line-through"
                }else {
                    event.target.parentElement.style.textDecoration = "none"
                }
                
              }
            })
            .then(response => {
              console.log("response", response)
            })
        }
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</body>

</html>